.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
.home-icon{
  cursor: pointer;
}
.items-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items-heading{
  font-size: 25px;
}
.action-items-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.size-container{
  display: flex;
  justify-content: center;
}

.container-items{
  margin: 20px;
}
.address-form-elements{
  font-size: medium;
  width: 100%;
}
mat-form-field{
  width: 100%;
}

/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
} */

/* .example-full-width {
  width: 100%;
} */

td {
  padding-right: 8px;
}
