<div class="col-12 home-header" [style.height.px]="innerheight * (.10)">
  <div>Waste Collection</div>
  <img class="icon-34" src="{{ 'recycle_logo' | icons }}">
</div>
<div class="col-4">
  <img class="icon-34 home-icon" src="{{ 'home_logo' | icons }}" routerLink="/home">
</div>
<div class="col-4 home-container" [style.height.px]="innerheight * (.90)">
  <form (ngSubmit)="onSubmit()" #wcolletionForm="ngForm">
    <div *ngIf="!isCalenderVisible && !isAddAddressVisible" class="items-container">
      <div class="items-heading container-items">Choose the type of waste</div>
      <div class="container-items">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bio-Degradable
              </mat-panel-title>
              <mat-panel-description>
                Select size
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="size-container"
              #bdGroup="matButtonToggleGroup">
              <mat-button-toggle value="bd-small">Small</mat-button-toggle>
              <mat-button-toggle value="bd-medium">Medium</mat-button-toggle>
              <mat-button-toggle value="bd-large">Large</mat-button-toggle>
            </mat-button-toggle-group>

          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Non Bio-Degradable
              </mat-panel-title>
              <mat-panel-description>
                Select size
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="size-container"
              #nbdGroup="matButtonToggleGroup">
              <mat-button-toggle value="nbd-small">Small</mat-button-toggle>
              <mat-button-toggle value="nbd-medium">Medium</mat-button-toggle>
              <mat-button-toggle value="nbd-large">Large</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="action-items-container">
        <button mat-raised-button color="warn" routerLink="/home">Back</button>
        <button mat-raised-button color="primary" (click)="showCalender()">Next</button>
      </div>

    </div>
    <div *ngIf="isCalenderVisible  && !isAddAddressVisible" class="items-container">
      <div class="items-heading container-items">Schedule your Pick-up</div>
      <div class="container-items">
        <label for="date-selection">Select Date: </label>
        <input id="date-selection" type="date" name="date-selection" [(ngModel)]="selectedDate">
      </div>
      <div class="container-items">
        <label for="time-selection">Select Time: </label>
        <input id="time-selection" type="time" name="time-selection" [(ngModel)]="selectedTime">
      </div>
      <div class="action-items-container">
        <button mat-raised-button color="warn" (click)="showCalender()">Back</button>
        <button mat-raised-button color="primary" (click)="addAddress()">Next</button>
      </div>
    </div>

    <div class="items-container address-form-elements" *ngIf="!isCalenderVisible  && isAddAddressVisible">
      <mat-form-field>
        <input matInput placeholder="First name" name="name-selection" [(ngModel)]="selectedName" >
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Address" name="address-selection" [(ngModel)]="selectedAddress"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" name="city-selection" [(ngModel)]="selectedCity">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" name="state-selection" [(ngModel)]="selectedState">
      </mat-form-field>
      <mat-form-field>
        <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043" 
        name="pincode-selection" [(ngModel)]="selectedPinCode">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field>
      <div class="action-items-container">
        <button mat-raised-button color="warn" (click)="addAddress()">Back</button>
        <button mat-raised-button color="primary" type="submit">Checkout</button>
      </div>
    </div>
  </form>

</div>
<div class="col-4"></div>